<footer>
	<div class="subheader">
	
		<div class="line">_________________________________</div>
		<div class="footer">
			By <a href="http://ramkarthik.in">Ramkarthik Krishnamurthy</a> | <span>Say Hi: <a href="https://twitter.com/Ramkarthik"><img src="../images/twitter.png" class="social-image"></img></a> <a href="https://www.facebook.com/ramkarthik"><img src="../images/facebook.png" class="social-image"></img></a> <a href="mailto:ram@ramkarthik.in"><img src="../images/email.png" class="social-image"></img></a></span>
		</div>
	
	</div>
	<script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script><!-- Uses 1.12.0 version jquery -->
	<script type="text/javascript" src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/social.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/ga.js" | prepend: site.baseurl }}"></script>
</footer>